[Unit]
Description=Gunicorn instance to serve linktree
After=network.target

[Service]
User=www-data
Group=www-data
WorkingDirectory=/tmp/linktree
EnvironmentFile=/tmp/linktree/.env
ExecStart=/tmp/linktree/venv/bin/gunicorn app:app --bind 127.0.0.1:5000

[Install]
WantedBy=multi-user.target
